//############################################//
//################ Grid System ##############//
//###########################################//

@mixin grid-columns($columns: $number-of-columns) {
  $column-width: 100 / $columns;

  @for $i from 1 through $columns {
    .col-#{$i} {
      width: percentage(($column-width * $i) / 100);
    }
  }
}

@mixin grid-columns-offset($columns: $offset-columns) {
  $column-width: 100 / $columns;

  @for $i from 1 through $columns {
    .offset-#{$i} {
      margin-left: percentage(($column-width * $i) / 100);
    }
  }

}

.row {
  @include clearfix;
  @include grid-columns;
  @include grid-columns-offset;
  display: block;

  & > {
    [class*="col-"] {
      float: left;

      &.full-height {
        height: 100%;
      }
    }
  }
}

// //Borders and paddings are applied inside the div element
// //This prevents the columns to stack by a border or padding

@include max-screen($grid-break) {
  .row:not(.fixed) {
    & > [class*="col-"] {
     width: 100%;
    }

    & > [class*="offset-"] {
      margin-left: 0;
    }
  }
}

