.main-header {
  padding: 1em;
  position: absolute;
  width: 100%;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include phone {
      flex-direction: column;
    }
  }
}
