//############################################//
//############# Flaot Utilities  ############//
//###########################################//

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

//############################################//
//############# Flaot Utilities  ############//
//###########################################//

$texts: 'right', 'left', 'justify', 'center';

@each $text in $texts {
  .text-#{$text} {
      text-align: #{$text};
  }
}

//############################################//
//############# Displays  Utilities #########//
//###########################################//

$displays: 'block', 'flex', 'inline', 'inline-block', 'inline-flex', 'table';

@each $display in $displays {
  .is-#{$display} {
      display: #{$display};
  }
}

//############################################//
//############# Align Utilities #############//
//###########################################//

.align {
  &.vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &.horizontal {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &.center {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-flex {
    display: flex;

    &.is-column {
      flex-direction: column;

      &.vertical {
        justify-content: center;

        &.end {
          justify-content: flex-end;
        }
      }

      &.horizontal {
        align-items: center;

        &.end {
          align-items: flex-end;
        }
      }
    }

    &.vertical:not(.is-column) {
      align-items: center;

      &.end {
        justify-content: flex-end;
      }
    }

    &.horizontal:not(.is-column) {
      justify-content: center;

      &.end {
        align-items: flex-end;
      }
    }

    &.center {
      align-items: center;
      justify-content: center;
    }

    &.between {
      justify-content: space-between;
    }
  }
}

//############################################//
//####### Hide or Disable Utilities #########//
//###########################################//

.is-disabled {
  pointer-events: none;
}

.is-unselectable {
  user-select: none;
}

.is-hidden.is-hidden {
  display: none;
}