//############################################//
//############# Flaot Utilities  ############//
//###########################################//

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

//############################################//
//############# Flaot Utilities  ############//
//###########################################//

$texts: 'right', 'left', 'justify', 'center';

@each $text in $texts {
  .text-#{$text} {
      text-align: #{$text};
  }
}

//############################################//
//############# Displays  Utilities #########//
//###########################################//

$displays: 'block', 'flex', 'inline', 'inline-block', 'inline-flex', 'table';

@each $display in $displays {
  .is-#{$display} {
      display: #{$display};
  }
}

//############################################//
//############# Align Utilities #############//
//###########################################//

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

//Flex center

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
