@import 'mediaqueries';

//docs variables

$text-color: #4A4A4A;
$main-color: #4A90E2;

body {
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: $text-color;

	a {
		text-decoration: none;
	}
}

.container {
	margin: 0 auto;
	padding: 3rem;
	width: 80%;

	@include phone {
		padding: 0;
		width: 90%;
	}
}

.title {
	color: $main-color;
	margin-bottom: 2rem;
	font-size: 2rem;
}

.subtitle {
	color: $main-color;
	font-size: 1.5rem;
	margin-bottom: 2rem;
}

.main-header {
	.container {
		padding: 2rem;
	}
	a {
		color: $main-color;
		margin-right: 1rem;
	}
}

.main-section {
	height: 100vh;
	padding-top: 10rem;

	h3 {
		color: $main-color;
		font-size: 2rem;
		margin-bottom: 3rem;
	}

  h1 {
  	font-size: 2.5rem;
  	margin-bottom: 15rem;
  	font-weight: 300;

  	@include phone {
  		margin-bottom: 3rem;
  	}
  }

  .icons {
		height: 3rem;
		margin-bottom: 2rem;

		@include phone {
			margin-bottom: 1rem;
		}
	}
}

.secondary-nav {
	background: $main-color;
	padding: 1rem;
	transition: all .5s ease-in-out;
	a {
		color: white;
		font-size: 1.2rem;
		margin: 1rem;
	}
}

.grid,
.utilities,
.media-queries {
	border-bottom: 1px solid #DEDEDE;
	padding: 5rem 0 5rem 0;

	h4 {
		color: $main-color;
		font-weight: 400;
		margin-bottom: 1rem;
	}
	p {
		margin-bottom: 3rem;
		line-height: 2;
	}

	.docs-col {
		border: 1px solid $main-color;
		margin: .5rem;
		padding: 1rem;
	}
}

.example-col {
	background: #FAFAFA;
	margin-right: 1rem;
	padding: 1rem;
}

.utilities {
	.example-col {
		margin-right: 0;
		margin-left: 1rem;
		height: 8rem;
		text-align: center;
	}
}

.media-queries {
	h4 {
		line-height: 1.5;
	}

	span {
		color: $text-color;
		margin-left: 1rem;
	}
}